@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-gray: #f0f2f5;
  --blue-text: #6945f4;
  --input-fields: #f1f5f9;
}

body {
  color: gray;
  background: var(--background-gray);
}

input, button {
  background: var(--input-fields);
}
svg {
  display: inline-block;
  vertical-align: baseline;
}


.input-container label {
  margin-bottom: 5px;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
